.card {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #222;
}

.info {
  flex: 1;
  margin-right: 20px;
}

.row {
  display: flex;
  align-items: center;
}

.image {
  flex: 0 0 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;

  &>img {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    object-fit: cover !important;
  }
}

.button {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  width: '30px';
  height: '30px';
}

.remove,
.add {
  flex: 0 0 40px!important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  width: 40px!important;
  height: 40px!important;
  flex: 0 0 40px!important;
  min-width: auto!important;
}

.qty {
  flex: 1 0 60px;
  max-width: 60px;
}
